# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- This covers Data Science Ecosystem
- This covers few of the languages used for Data Science
- This covers the tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Matlab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# this is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Saurabh Vishwanath